/*



!.gitignore
!.bashrc
!.bash_profile
!.xinitrc

!.config/
.config/*
!.config/alacritty/
!.config/alacritty/*
!.config/qtile/
!.config/qtile/*

!.local/
.local/*
!.local/bin/
!.local/bin/*

__pycache__